body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table {
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
th,
td {
  padding: 12px 15px;
}
tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

a,
button {
  display: inline-block;
  text-decoration: none;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #009879;
  color: white;
  padding: 0 20px;
  margin: 1px;
}

a:hover,
button:hover {
  background-color: #01b893;
}
select {
  appearance: none;
  border: 0;
  outline: 0;
  padding: 0 4em 0 1em;
}

select:focus {
  outline: none;
}
nav {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
ul {
  margin: 0;
  background-color: white;
  padding: 0;
  width: fit-content;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
#searchRes {
  padding: 2px;
  border-radius: 5px;
  width: 150px;
}
li {
  margin: 2px;
}
.selected {
  background-color: #01b893;
}

#paging {
  width: fit-content;
  margin: auto;
  padding-top: 10px;
}
#paging span {
  margin: 5px;
  background-color: #009879;
  color: white;
  padding: 4px 10px;
}
form {
  width: fit-content;
  margin: auto;
  padding: 10px;
  background-color: #009879;
  color: white;
}
#error {
  color: rgb(192, 23, 23);
  font-weight: bold;
}
#home {
  width: 100vw;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
h2 {
  width: fit-content;
  margin: auto;
  padding: 10px;
  background-color: #009879;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.searchBar {
  padding: 3px;
  padding-left: 8px;
  width: auto;
  background-color: #009879;
  color: whitesmoke;
}
.searchBar input {
  margin: 5px;
}
